<!-- templates/admin/index.html -->
{% extends "admin/master.html" %}

{% block body %}
    <p class="lead">Все разделы админки:</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Ссылка</th>
            <th>Описание</th>
        </tr>
        </thead>
        <tbody>
        {% set directories = [
        ('User', 'users_admin.index_view', '[user]', 'Пользователи системы для авторизации')
    ] %}

        {% for directory in directories %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ directory[0] }}</td>
                <td><a href="{{ url_for(directory[1]) }}">{{ directory[2] }}</a></td>
                <td>{{ directory[3]|safe }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
